.highlight-marker {
    height: 48px;
    width: 40px;
    top: -30px;
    left: 10px;
    background: url('/images/pins/cafe.png') no-repeat;
    background-size: contain;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
        transform: scale(1.2);
    }

    &.selected {
        transform: scale(1.2);
    }
}