.highlight-marker {
    height: 48px;
    width: 40px;
    top: -30px;
    left: 10px;
    position: absolute;
    cursor: pointer;
    transition: all 0.1s linear;

    &.café {
        background: url('/images/pins/cafe.png') no-repeat;
        background-size: contain;
    }

    &.view {
        background: url('/images/pins/view.png') no-repeat;
        background-size: contain;
    }

    &:hover {
        transform: scale(1.2);
    }

    &.selected {
        transform: scale(1.2);
    }
}