@import "constants";
@import "constants";
@import "colours";
@import "breakpoints";

.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20;
    position: absolute;
    left: 0;
    opacity: 1;
    transition: opacity 0.4s ease-out;

    &_hidden {
        left: -800px;
        opacity: 0;
        transition: opacity 0.4s ease-out;
    }
}

.loader {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.highlight-sidebar {
    width: 90%;
    margin: 5%;
    background: rgba(0, 0, 0, 0.8);
    height: 90%;
    position: absolute;
    overflow: hidden;
}

.highlight-sidebar__image {
    position: relative;
    width: 100%;
    vertical-align: top;
}

.holder {
    position: relative;
}

.highlight-sidebar__main-info {
    position: absolute;
    bottom: 0;
    padding:3%;
    background: rgba(0, 0, 0, 0.5);
    width: 94%;

    h2 {
        color: white;
        font-size: 40px;
    }

    h3 {
        color: white;
        font-size: 30px;
        text-transform: uppercase;
        padding-top: 2px;
        font-weight: 100;
    }
}

.highlight-sidebar__controls {
    height: 3px;
    position: relative;

    .café & {
        background: $café;
    }
    .view & {
        background: $view;
    }

    .highlight-button {
        width: 50px;
        height: 50px;
        .café & {
            background: $café;
        }
        .view & {
            background: $view;
        }
        line-height: 50px;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: -25px;
        color: white;
        border-radius: 9999px;
        cursor: pointer;
        transition: 0.1s linear;

        &:hover {
            transform: scale(1.2);
        }
    }

    .add {
        right: 10px;
    }

    .close {
        right: 80px;
    }
}

.highlight-sidebar__info {
    color: white;
    padding: 20px 10px 0 10px;

    table {
        margin-top: -10px;
    }
    
    .key {
        font-weight: 100;
        text-transform: uppercase;
        padding: 5px 10px 0 0;
    }

    .value {
        font-weight: 900;
    }
}

.highlight-sidebar__text {
    overflow: scroll;
    color: white;
    padding: 10px;
    line-height: 22px;
    font-size: 18px;
}

@media (min-width: $x-small) {
    .modal {
        background: transparent;
        top: $top-bar-height;
        width: 300px;
        left: 0;
        transition: all 0.3s ease-out;

        &_hidden {
            display: block;
            transform: translateX(-300px);
            transition: all 0.3s ease-out;
        }

    }

    .highlight-sidebar {
        width: 300px;
        margin: 0;
        height: 100%;
    }
}

@media (min-width: $small) {
    .modal {
        background: transparent;
        top: $top-bar-height;
        width: 400px;
        left: 0;
        transition: all 0.3s ease-out;

        &_hidden {
            display: block;
            transform: translateX(-400px);
            transition: all 0.3s ease-out;
        }

    }

    .highlight-sidebar {
        width: 400px;
        margin: 0;
        height: 100%;
    }
}
