@import "colours";
@import "breakpoints";
@import "constants";

.top-bar {
    top: 0;
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: $top-bar-height;
    z-index: 10;
}

.top-bar__user {
    .user {
        top: 5px;
        a {
            display: block;
            padding-top: 10px;
        }
    }
}

.top-bar__logo {
    display: block;
    width: 145px;
    margin: 5px auto;

    #shape {
        fill: white;
    }
}

.top-bar__colours {
    position: absolute;
    top: $top-bar-height - 15px;
    height: 10px;
    width: 100%;
    z-index: 10;
}
