@import "colours";
@import "breakpoints";
@import "constants";

.planner-resume-reset {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

.planner-resume-reset__question-holder {
    position: fixed;
    text-align: center;
    padding: 5%;
    font-size: 20px;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
    border-radius: 5px;

    .planner-resume-reset__question {
        margin-bottom: 20px;    
    }
    
    .button {
        margin-top: 10px;
    }
}

@media (min-width: $xx-small) {
    .planner-resume-reset__question-holder {
        width: auto;
    }
}