@import "breakpoints";

.user {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    
    img {
        border-radius: 9999px;
        height: 40px;
        vertical-align: middle;
    }
}

.user__register {
    display: none;
}

@media (min-width: $x-small) {
    .user__register {
        display: inline;
    }
}