@import "constants";
@import "colours";
@import "breakpoints";

.route-splash {
    width: 100%;
    position: relative;

    img {
        width: 100%;
        text-align: center;
    }
}

.route-splash__title {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 70px;
    font-weight: 900;
}

@media (min-width: $x-small) {
    .route-splash__title {
        font-size: 80px;
    }
}

@media (min-width: $xx-small) {
    .route-splash {
        float: left;
        width: 50%;
    }

    .route-splash__title {
        font-size: 50px;
    }
}


@media (min-width: $small) {
    .route-splash__title {
        font-size: 70px;
    }
}
