@import "constants";
@import "colours";
@import "breakpoints";


.route-chart-distance {
    padding-top: 30px;
    color: white;
    font-size: 50px;

    .route-chart-distance__unit {
        font-size: 30px;
        color: darkgrey;
    }

    .route-chart-distance__title {
        padding-top: 5px;
        color: darkgray;
        font-size: 14px;
        text-transform: uppercase;
    }
}

@media (min-width: $xx-small) {
}
