@import "constants";
@import "colours";
@import "breakpoints";

.route-content {
    margin: $top-bar-height+10px auto;
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    position: relative;
}

.header {
    position: relative;
    overflow: hidden;
}

.description {
    clear: both;
    padding: 20px 30px;
    color: white;
    line-height: 22px;
    font-style: italic;
}

.map-holder {
    clear: both;
    height: 400px;
    width: 100%;
}

@media (min-width: $x-medium) {
    .route-content {
        width: 900px;
    }
}
