@import "breakpoints";

.summary-chart {
    height: 150px;
    width: 150px;
    z-index: 10;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 9999px;

    canvas {
        margin: 5px 0 0 5px;
        width: 140px !important;
        height: 140px !important;
    }
}

.summary-chart__distance {
    position: absolute;
    height: 90px;
    top: 30px;
    width: 90px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 9999px;
    color: white;
    line-height: 90px;
    left: 30px;
    font-size: 26px;
}

.summary-chart__unit {
    font-size: 16px;
}

@media (min-width: $x-small) {
    .summary-chart {
        height: 180px;
        width: 180px;

        canvas {
            width: 170px !important;
            height: 170px !important;
        }
    }

    .summary-chart__distance {
        width: 100px;
        height: 100px;
        top: 40px;
        left: 40px;
    }
}